<main>
  <section class="col-one-of-two">
    <h1>Faça suas compras <br> sem sair de casa!</h1>
    <p>Compra e receba no conforto da sua casa,<br>
        as melhores ofertas com a entrega mais rápida.
    </p>
  </section>
  <section class="col-two-of-two">
    <div class="input-search">
      <input type="text" name="search-zip" id="search-zip" placeholder="Informe seu CEP" maxlength="9">
      <img src="../../../assets/img/search.svg" alt="" class="search">
    </div>
    <div class="code-zip">
      <p class="code-zip-title">Calcule o frete</p>
      <div class="row">
        <p class="zip">00000-000</p>
        <img src="../../../assets/img/pin.svg" alt="" class="pin">
        <p class="price">R$ 20.00</p>
      </div>
      <div class="footer">
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <div class="circle-3"></div>

      </div>
    </div>
  </section>
</main>
<section class="catalogue">
  <h2 class="catalogue-title">Relógios</h2>
  <div class="products">
    <div class="card">
      <img
      src="https://img.ltwebstatic.com/images3_pi/2021/12/29/16407682144e32c82b8ecba2d5b79d910b30bb226a_thumbnail_600x.webp"
      alt="" class="product-img" />
      <div class="title-product">Relógio Quartzo</div>
      <div class="row">
        <p class="product-price">R$ 400.00</p>
        <div class="product-actions">
          <button>
            <img src="../../../assets/img/cart-gray.svg" alt="" class="icon-button">
          </button>
          <button>
            <img src="../../../assets/img/heart-gray.svg" alt="" class="icon-button">
          </button>
          <button>
            <img src="../../../assets/img/sale-gray.svg" alt="" class="icon-button">
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <img
      src="https://img.ltwebstatic.com/images3_pi/2022/04/26/165090301390a002a91f1cf6962242a3d31f379b26_thumbnail_600x.webp"
      alt="" class="product-img" />
      <div class="title-product">Relógio Quartzo</div>
      <div class="row">
        <p class="product-price">R$ 400.00</p>
        <div class="product-actions">
          <button>
            <img src="../../../assets/img/cart-gray.svg" alt="" class="icon-button">
          </button>
          <button>
            <img src="../../../assets/img/heart-gray.svg" alt="" class="icon-button">
          </button>
          <button>
            <img src="../../../assets/img/sale-gray.svg" alt="" class="icon-button">
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <img
      src="https://img.ltwebstatic.com/images3_pi/2021/05/18/16213139851a077fa3415f8a889d7b64f8726b51bd_thumbnail_600x.webp"
      alt="" class="product-img" />
      <div class="title-product">Relógio Quartzo</div>
      <div class="row">
        <p class="product-price">R$ 400.00</p>
        <div class="product-actions">
          <button>
            <img src="../../../assets/img/cart-gray.svg" alt="" class="icon-button">
          </button>
          <button>
            <img src="../../../assets/img/heart-gray.svg" alt="" class="icon-button">
          </button>
          <button>
            <img src="../../../assets/img/sale-gray.svg" alt="" class="icon-button">
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <img
      src="https://img.ltwebstatic.com/images3_pi/2021/04/27/1619507108698af1d98b11832d8281ad5486abcd69_thumbnail_600x.webp"
      alt="" class="product-img" />
      <div class="title-product">Relógio Quartzo</div>
      <div class="row">
        <p class="product-price">R$ 400.00</p>
        <div class="product-actions">
          <button>
            <img src="../../../assets/img/cart-gray.svg" alt="" class="icon-button">
          </button>
          <button>
            <img src="../../../assets/img/heart-gray.svg" alt="" class="icon-button">
          </button>
          <button>
            <img src="../../../assets/img/sale-gray.svg" alt="" class="icon-button">
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="catalogue">
  <h2 class="catalogue-title">Colares</h2>
  <div class="products">
    <div class="card">
      <img
      src="https://img.ltwebstatic.com/images3_pi/2022/07/28/165900409072acbdfc356921eff2945c831b260ba7_thumbnail_600x.webp"
      alt="" class="product-img" />
      <div class="title-product">Colar Pingente Retangular</div>
      <div class="row">
        <p class="product-price">R$ 400.00</p>
        <div class="product-actions">
          <button>
            <img src="../../../assets/img/cart-gray.svg" alt="" class="icon-button">
          </button>
          <button>
            <img src="../../../assets/img/heart-gray.svg" alt="" class="icon-button">
          </button>
          <button>
            <img src="../../../assets/img/sale-gray.svg" alt="" class="icon-button">
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <img
      src="https://img.ltwebstatic.com/images3_pi/2021/04/01/1617243662eaede00c08604a7ee03df2836ed38668_thumbnail_600x.webp"
      alt="" class="product-img" />
      <div class="title-product">Colar Masculino Com Penas</div>
      <div class="row">
        <p class="product-price">R$ 400.00</p>
        <div class="product-actions">
          <button>
            <img src="../../../assets/img/cart-gray.svg" alt="" class="icon-button">
          </button>
          <button>
            <img src="../../../assets/img/heart-gray.svg" alt="" class="icon-button">
          </button>
          <button>
            <img src="../../../assets/img/sale-gray.svg" alt="" class="icon-button">
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <img
      src="https://img.ltwebstatic.com/images3_pi/2020/09/30/16014346473579ccd6cc424ae6f18c2305a776f77d_thumbnail_600x.webp"
      alt="" class="product-img" />
      <div class="title-product">Colar de pingente triangular</div>
      <div class="row">
        <p class="product-price">R$ 400.00</p>
        <div class="product-actions">
          <button>
            <img src="../../../assets/img/cart-gray.svg" alt="" class="icon-button">
          </button>
          <button>
            <img src="../../../assets/img/heart-gray.svg" alt="" class="icon-button">
          </button>
          <button>
            <img src="../../../assets/img/sale-gray.svg" alt="" class="icon-button">
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <img
      src="https://img.ltwebstatic.com/images3_pi/2022/10/24/16665957535af3d76391e7e63b2f05922a515f790d_thumbnail_600x.webp"
      alt="" class="product-img" />
      <div class="title-product">Amuleto Colar Cruz</div>
      <div class="row">
        <p class="product-price">R$ 400.00</p>
        <div class="product-actions">
          <button>
            <img src="../../../assets/img/cart-gray.svg" alt="" class="icon-button">
          </button>
          <button>
            <img src="../../../assets/img/heart-gray.svg" alt="" class="icon-button">
          </button>
          <button>
            <img src="../../../assets/img/sale-gray.svg" alt="" class="icon-button">
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
