<main>
  <section class="header">
    <h1 class="title">Compras</h1>
    <p class="legend">N itens adicionados</p>
  </section>
  <div class="row">
  <div>
    <section class="card">
      <div class="header">
        <img src="../../../assets/img/pin-colorful.svg" alt="">
        <p class="title-card">Frete</p>
      </div>
      <div class="row">
        <img src="../../../assets/img/home.svg" alt="">
        <p class="address">Rua das Tulipas, 148, Jd. Vila Nova, Itaquaquecetuba - SP</p>
        <Select>
          <option value="">Alterar</option>
        </Select>
        <img src="../../../assets/img/arrow.svg" alt="">
      </div>
      <div class="footer">
        <p>Valor frete: <strong>R$ 10.00</strong></p>
      </div>
    </section>
    <section class="card">
      <div class="header">
        <img src="../../../assets/img/card.svg" alt="">
        <p class="title-card">Forma de pagamento</p>
      </div>
      <div class="row">
        <img src="../../../assets/img/card.svg" alt="" style="height: 20px;">
        <p class="address" style="margin-top: 10px;">Mastercard - 7706</p>
        <Select>
          <option value="">Alterar</option>
        </Select>
        <img src="../../../assets/img/arrow.svg" alt="">
      </div>
    </section>
  </div>
  <div>
    <section class="card">
      <div class="header">
        <img src="../../../assets/img/sale-purple.svg" alt="">
        <p class="title-card">Resumo da compra</p>
      </div>
      <div class="list">
        <img src="https://img.ltwebstatic.com/images3_pi/2022/04/25/1650857796a5b2b426d1295a7dfef6e898fc23128e_thumbnail_600x.webp" alt="" class="list-image">
        <img src="https://img.ltwebstatic.com/images3_pi/2022/07/28/165900409072acbdfc356921eff2945c831b260ba7.webp" alt="" class="list-image">
      </div>
        <div class="resume">
          <p>Mercadoria:</p><strong>R$ 400.00</strong>
        </div>
        <div class="resume">
          <p>Frete:</p><strong>R$ 20.00</strong>
        </div>
        <div class="resume">
          <p>Total:</p><strong>R$ 420.00</strong>
        </div>
        <button class="btn-white">Finalizar</button>
          <!-- (click)="goToShopping()" -->
      </section>
  </div>
  </div>
</main>
