<section>
  <h1 class="title">Bom te ver,<br>faça login e aproveite!</h1>
  <div class="form">
    <div class="input-with-icon">
      <img
        src="../../../../assets/img/email.svg"
        alt="Digite seu email"
        class="email"
      />
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Digite seu e-mail"
      />
    </div>
    <div class="input-with-icon">
      <img
        src="../../../../assets/img/password.svg"
        alt="Digite sua senha"
        class="password"
      />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Digite sua senha"
      />
    </div>
  </div>
</section>
