<h1>Bom te ver!</h1>
<div mat-dialog-content class="form">
  <form (ngSubmit)="submit()" [formGroup]="signInForm" #formDir="ngForm">
    <div class="input">
      <img src="../../../../assets/img/email.svg" alt="Digite a senha" class="email">
      <input
      formControlName="email"
      placeholder="Informe o email"
      type="email"
      name="email"
      id="email"
      required
      />
    </div>
    <div class="error-validate" *ngIf="email.invalid && formDir.submitted">
      <p>E-mail inválido</p>
    </div>
    <div class="input">
      <img src="../../../../assets/img/password.svg" alt="Digite a senha" class="password">
      <input
      formControlName="password"
      placeholder="Informe a senha"
      type="password"
      name="password"
      id="password"
      required
      />
    </div>
    <div class="error-validate" *ngIf="password.invalid && formDir.submitted">
      <p>Senha inválida</p>
    </div>
    <input type="submit" value="Entrar" class="btn-gray">
  </form>
</div>
<p>ou</p>
<p>
  <a href="#">Faça seu cadastro e aproveite!</a>
</p>
