h1{
  font-size: 24px;
  color: #1e1e1e;
  margin-top: 4rem;
  text-align: center;
}
.input{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.875rem;
  border-bottom: 1px solid #1e1e1e;
}
.error-validate p{
  color: #d32013;
    font-size: 0.625rem;
}
.email,
.password{
  width: 1.563rem;
  height: 1.25rem;
  margin-right: 0.65rem
}
.btn-gray{
  width: 12.5rem;
  display: block;
  height: 2.813rem;
  margin: 1rem auto;

  color: #f8f8f8;
  background: #1e1e1e;

  border-radius: 0.75rem;
  cursor: pointer;

  font-weight: 700;
  animation: 0.4s;
  
}

.btn-gray:hover{
  color: #1e1e1e;
  background: transparent;
  border: 1px solid #1e1e1e;
}
p{
  text-align: center;
  font-size: 14px;
  color: #1e1e1e;
}
a{
  color: #1e1e1e;
  font-weight: 600;
}
