<main>
  <img src="https://img.ltwebstatic.com/images3_pi/2022/07/28/165900409072acbdfc356921eff2945c831b260ba7_thumbnail_600x.webp" alt="" class="image-product">
  <section>
    <h1 class="product-title">
      Colar Pingente Retangular
    </h1>
    <h2 class="price">R$ 400.00</h2>

    <p class="subtitle">Tamanhos (BR)</p>
    <p class="legend">Tamanho único</p>

    <p class="subtitle">Disponível em</p>
    <img src="https://img.ltwebstatic.com/images3_pi/2022/07/28/165900409072acbdfc356921eff2945c831b260ba7_thumbnail_600x.webp" alt="" class="color-variant">
    <img src="https://img.ltwebstatic.com/images3_pi/2022/07/04/1656917727e78121a37ce3f6c1f8ffbb862f136045_thumbnail_600x.webp" alt="" class="color-variant">
    <img src="https://img.ltwebstatic.com/images3_pi/2022/04/25/1650857796a5b2b426d1295a7dfef6e898fc23128e_thumbnail_600x.webp" alt="" class="color-variant">
    <button class="btn-white" (click)="goToShopping()">
      Comprar
      <img src="../../../assets/img/sale-gray.svg" alt="">
    </button>
  </section>
</main>
