html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif;}
input,
select,
option,
button{
appearance: none;
    outline: none;
    background: transparent;
    border: none;
    font-size: 0.75rem;
    color: #272727;

    width: 18rem;
    height: 2rem;
}
a{
  text-decoration: none;
  color: #f8f8f8;
}
button{
  width: 50px;
  height: 40px;
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

