.main{
  height: 100%;
  width: auto;
  overflow-y: hidden;
  position: relative;
  background:linear-gradient(90deg, #1E1E1E 0%, #3E3E3E 97.87%);
}
.logo{
  position: relative;
  width: 80px;
  height: 80px;
  display: block;
  margin: 130px auto;
}
